setuptools==36.6.0
pandas==0.19.2
spacy==1.9.0
numpy==1.13.3
tld==0.7.9
lxml==3.7.2
selenium==3.4.2
requests==2.18.4
gensim==1.0.1
click==6.7
Scrapy==1.4.0
Flask==0.12
en_core_web_md==1.2.1
PyPDF2==1.26.0
fuzzywuzzy==0.15.1
WTForms==2.1
