click==6.7
pandas==0.20.3
Flask==0.12.2
numpy==1.13.3
lxml==3.8.0
spacy==1.9.0
setuptools==36.6.0
requests==2.18.4
selenium==3.6.0
tld==0.7.9
PyPDF2==1.26.0
fuzzywuzzy==0.15.1
gensim==3.0.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-1.2.1/en_core_web_md-1.2.1.tar.gz
