selenium==3.6.0
setuptools==36.6.0
requests==2.18.4
lxml==3.8.0
tld==0.7.9
spacy==1.9.0
Scrapy==1.4.0
pandas==0.20.3
PyPDF2==1.26.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-1.2.1/en_core_web_md-1.2.1.tar.gz
