.RowABT
{
    display: table;
    width: 100%; /*Optional*/
    border-spacing: 50px; /*Optional*/
}
.ColumnABT
{
    display: table-cell;
    background-color: #EAE9E9; /*Optional*/
    height: 200px;
    width: 200px;
    text-align: center;
    color: #2C3E50;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

body {
    background-color: #E8EAF6;
    z-index: -999;
}

#mainNav {
    background: #4C5586;
}

header.masthead {
    background-color: #4C5586;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.50);
}

div.footer-above{
     background-color: #4D566A;
 }

div.footer-below{
    background-color: #4D566A;
}

footer .footer-col {
    margin-bottom: 0;
}

#signin {
    background-color: #F4F5FC;
    box-sizing: border-box;
    margin: 0 5% 3% 5%;
    box-shadow: 0 2px 4px 0 rgba(152,152,152,0.50);
    position: relative;
    bottom: 1.5em;
}

@media (min-width: 768px) {
    header.masthead .intro-text .name {
        font-size: 2.75em;
    }
    #signin {
        bottom: 1.7em
    }
}

@media (min-width: 1000px) {
    #signin {
        margin: 0 20% 3% 20%;
    }
}

