body {
	font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4C5586;
	background-color: #E8EAF6;
}

.jumbotron {
	background-color: #4C5586;
}

.jumbotron h1 {
	color: #fff;
}

.jumbotron p {
	color: #fff;
	font-weight: 300;
	font-size: 1.6em;
}

.card {
	background-color: #F4F5FD;
}

.footer {
	background-color: #4D566A;
}

.footer p {
	color: #fff;
}

.shadowed {
	box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2)
}

.overlay {
	background-color: #F4F5FD;
	position: relative;
  bottom: 4em;
}